/.bak
/.vscode
/01.원석이 요건.py
/2021-01-23.html
/2021-01-23.txt
/crawler_20210117_01 - 복사본.py
/crawler_20210117_02.py
/crawler_20210118_01.py
/py.zip
/sample_div_href.html
/sample_div_img.html
/sample_div_utube.html
/__pycache__
/파이썬 튜터리얼.py
/*.txt